<div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <h3>Join Us!</h3>
            <p>
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" [formControl]="registerForm.controls['username']" required>
                  <mat-hint>Name/Alias to use on site.</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" [formControl]="registerForm.controls['email']" required>
                  <mat-hint>youremail@email.com</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" [formControl]="registerForm.controls['password']" required minlength="4">
                  <mat-hint>at least 4 characters</mat-hint>
                </mat-form-field>
            </p>
            <button mat-raised-button color="accent" type="submit">Register</button>
    </form>
</div>