<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <h3>Log In or <a routerLink="../register">Register</a></h3>
    <p>
      <mat-form-field appearance="fill">
      <mat-label>Name or Email</mat-label>
      <input matInput [formControl]="loginForm.controls['email']" required>
      <mat-error *ngIf="loginForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="loginForm.controls['password']">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </p>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>
</div>